<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.fields_for :row_data do |header_fields| %>
      <% f.object.row_data.try(:each) do |key, value| %>
        <div>
          <%= header_fields.text_field key, value: value %>
        </div>
      <% end %>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>
